<div
  class="social-icons__wrapper"
  {{ block.shopify_attributes }}
>
  {% content_for 'blocks' %}
</div>

{% stylesheet %}
  .social-icons__wrapper {
    display: flex;
    gap: 2.2rem;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (width < 768px) {
      flex-wrap: nowrap;
      justify-content: flex-start;
      margin-bottom: 3rem;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.social_media_links",
  "tag": null,
  "blocks": [
    {
      "type": "_social-link"
    }
  ],
  "presets": [
    {
      "name": "Social Icons",
      "category": "Footer",
    }
  ]
}
{% endschema %}
