<div
	class="yotpo yotpo-pictures-widget"
	data-gallery-id="6879061f87e91cd4074f5401">
</div>

{% schema %}
{
  "name": "Yotpo UCG widget",
  "tag": "section",
  "class": "section youtpo-ucg",
  "settings": [],
  "presets": [
    {
      "name": "Yotpo UCG widget"
    }
  ]
}
{% endschema %}
