.announcement-bar__slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  @media screen and (width < 750px) {
    grid-column: 1 / -1;
  }
}

.announcement-bar {
  border-block-end: var(--border-bottom-width) solid var(--color-border);
}

.announcement-bar__slides {
  display: grid;
  grid: [stack] auto / [stack] auto;
  width: calc(100% - var(--button-size) * 2);
  max-width: 680px;
  margin-inline: auto;
}

.announcement-bar__slides > * {
  grid-area: stack;
}

.announcement-bar__slider .slideshow-control {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  opacity: 1;
  animation: none;
}

.announcement-bar__slider .slideshow-control .svg-wrapper {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
}

.announcement-bar__slide {
  place-content: center;
}

.announcement-bar__text:first-child {
  margin: 0;
}

.announcement-bar__link {
  position: absolute;
  inset: 0;
}

.announcement-bar__slide {
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

  &[aria-hidden='true'] {
    opacity: 0;
    visibility: hidden;
  }
}

.announcement-bar__slider slideshow-arrows {
  padding: 0;
}

.announcement-bar__slider slideshow-arrows[shape='none'] {
  mix-blend-mode: normal;
}

.announcement-bar__slider slideshow-arrows .slideshow-control--shape-none {
  transform: rotate(90deg);
  color: var(--color-foreground);
}
